@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.map-container {
    display: flex;
    /* justify-content: space-around; */
    min-height: 100vh;

    
}

#map {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 10px;


}

h1 {
    font-family: 'Roboto Mono', monospace;
    margin: 1rem 1rem -2rem 1rem;
    padding: 1rem;
    font-size: 3rem;
   

}

header h1 {
    display: flex;
    justify-content: center;
    color: white;
}

header p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 70px 0px 60px 0px;
    color: white;
    
}

/* .places{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    height: 242px;
    margin-bottom: 52px;
} */

/* .places img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
} */

span {
    color: blue;
    margin-left: 32px;
}

/* .places h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: center;
} */

/* .places div img:hover{
    opacity: 1;
} */